@{view('/page/navbar')}
@{view('/page/header')}
@{view('/page/banner')}

<div class="content">
  <div class="container">
    <div class="row">
      <div id="page" class="page page-edit">
        <h1>@(#page.edit.header_content)</h1>
        <form action="/api/page@{controller.url}" method="POST">
          <input type="text" name="message" placeholder="Commit Message" value="Update @{controller.url}" style="width:30%;">
          <input type="submit" value="Submit Changes" class="btn btn-success">

          <textarea name="content" rows="30">@{model.content}</textarea>

          <div class="text-center">
            <a class="btn btn-lg btn-default" href="javascript:" id="previewUpdate">
              <span><i class="fa fa-caret-down"></i> @(#page.edit.preview_update) <i class="fa fa-caret-down"></i></span>
            </a>
          </div>

          <h1>@(#page.edit.header_preview)</h1>
          <hr>

          <div id="preview">
            <div class="text-center">@(#page.edit.preview_fail)</div>
          </div>

          <hr><hr>


        </form>

      </div>
    </div>
  </div>
</div>
