@{view('/page/navbar')}
@{view('/page/header')}
@{view('/page/banner')}

<div class="content">
  <div class="container">
    <div class="row">
      <div class="page page-edit">
        <h1>Page Content</h1>
        <textarea rows="30">@{model.content}</textarea>

        <div class="text-center">
          <a href="btn btn-lg btn-success" href="javascript:" id="previewUpdate">
            <i class="fa fa-caret-down"></i> Update Preview <i class="fa fa-caret-down"></i>
          </a>
        </div>

        <h1>Page Preview</h1>
        <hr>

        <div id="preview">
          <div class="text-center">No Preview Available</div>
        </div>

        <hr><hr>

      </div>
    </div>
  </div>
</div>
