<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=11" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="robots" content="all,follow" />

		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
			integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		@{css('default.css')}
		<!--@{less('default.less')}-->

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
			integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		@{import('meta', 'head', 'default.css', 'default.js', 'favicon.ico')}

		<title>@{repository.title || 'Wiki Home'}</title>
	</head>
	<body>
		@{body}
	</body>
	<footer>
		<div class="container">
			<p>
				View In:
				@{foreach lang in global.languages}
					@{if index > 0}
						|
					@{fi}
					@{if controller.language === lang.id}
						<span>@{lang.name}</span>
					@{else}
						<a href="/special/lang?l=@{lang.id}&amp;url=@{controller.url}">@{lang.name}</a>
					@{fi}
				@{end}
			<p>
				A free wiki powered by <a href="https://github.com/VevoxDigital/Skribki">Skribki</a>,
				designed and developed by Vevox Digital.
			</p>
			<p>
				Unless otherwise noted, content is available
				under <a href="@{helpers.config('footer:license:url')}">@{helpers.config('footer:license:name')}</a>
			</p>
		</div>
	</footer>
</html>
