extends layout-sidebar.pug

include layout/page-actions.pug

append scripts
  link(rel='stylesheet' href='//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.9.0/styles/solarized-light.min.css')

block header
  +header(model.page.header.title, model.page.header.desc)

block content
  +page-actions({ history: '?a=history', edit: user && '?a=edit', delete: user && '?a=delete' })
    != model.page.body

append sidebar
  each link in (model.page.toc || [])
    if link.level === 1
      a.sidebar-lg(href='#'+link.id)= link.content
    else if link.level === 2
      a.sidebar-md(href='#'+link.id)= link.content
    else if link.level === 3
      a.sidebar-sm(href='#'+link.id)= link.content
