@{view('navbar')}
@{view('header')}
@{view('banner')}

<div class="content">
  <div class="container">
    <div class="row">

      <div class="navigation col-xs-12 col-md-3 col-lg-2">
        @{view('sidebar')}
      </div>

      <div id="page" class="page col-xs-12 col-md-9 col-lg-10">
        <div class="text-right page-opts">
          <a href="@{self.url}?a=history">History </a>
          @{if user}
            <a href="@{self.url}?a=edit">Edit </a>
            <a href="@{self.url}?a=delete" style="color: #e74c3c;">Delete</a>
          @{fi}
        </div>
        <div class="float-clear"></div>
        <div id="pageBody">
          @{!model.body}
        </div>

        @{if repository.categories && repository.categories.length}
          <hr>
          <p class="categories">
            Categories:
            @{foreach cat in repository.categories}
              <a href="/category/@{cat}">@{cat}</a>
            @{end}
          </p>
        @{fi}
      </div>

    </div>
  </div>
</div>
