$color-base-1: #23395C;
$color-base-2: $color-base-1 - #0b0b0b;

$color-anchor-1: #3498db;
$color-anchor-2: $color-anchor-1 - #111;

$color-text-1: #333;
$color-text-2: #f5f5f5;

body {
  color: $color-text-1;
  font-family: 'Open Sans', sans-serif;
  background-color: #fff - #222;
}

a {
  color: $color-anchor-1;
  transition: color 250ms;
  &:hover {
    color: $color-anchor-2;
    text-decoration: none;
  }
}

.float-right { float: right; }
.float-left  { float: left;  }
.float-clear { float: clear; }

.navbar-inverse {
  background-color: $color-base-1;
  border-color: $color-base-2;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.07);
}

footer {
  p {
    margin: 10px;
    font-size: 8pt;
    color: #fff - #555;
    a { opacity: 0.7; }
  }
}

nav {
  padding: 9px;
  .nav-item {
    color: $color-text-2;
    opacity: 0.5;
    a {
      color: inherit;
      transition: opacity 250ms;
      &:hover { opacity: 0.7; }
    }
  }
  .oem {
    display: inline-block;
    margin-top: 4px;
    .oem-name {
      font-weight: bold;
      font-size: 14px;
      display: inline-block;
      padding-left: 10px;
      vertical-align: middle;
    }
    .oem-icon { max-height: 24px; }
  }
  .nav-items {
    list-style-type: none;
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    padding-left: 24px;
    font-size: 12px;
    li.nav-item {
      display: inline-block;
      a {
        display: inline-block;
        padding: 0 8px;
      }
    }
  }
  .navbar-right {
    height: 100%;
    padding-top: 4px;
    .nav-item { padding-left: 10px; }
  }
}

.page-header {
  width: 100%;
  background-color: $color-base-1;
  padding: 30px;
  color: $color-text-2;
  margin-bottom: 0;
  .container {
    h1 { font-size: 25pt; margin: 0; }
    h2 { font-size: 15pt; opacity: 0.5; margin: 0; font-weight: 300; }
  }
}

.banner {
  padding: 15px 0;
  background-color: $color-text-2;
  border-bottom: 1px ($color-text-2 - #111) solid;
  color: $color-text-1 + #555;
  a {
    font-weight: bold;
  }
}

.content {
  background-color: #fff - #111;
  padding-bottom: 50px;
  min-height: 50vh;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
  .container {
    .navigation {
      padding: 20px 30px 0;
      background-color: #fff;
      font-size: 15pt;
      h1, h2, h3 { font-size: inherit; margin: 0; padding: 4px; }
      h2, h3 { font-weight: normal; padding-left: 5px; font-weight: light; }
      h3 { padding-left: 10px; font-size: 80%; font-style: italic; }
      h1 { font-size: 130%; }
      .navgroup:last-child { padding-bottom: 30px; }
      hr {
        border-top: 1px ($color-anchor-2) solid;
        opacity: 0.2;
        width: 20%;
        margin: 20px 0 10px;
        display: inline-block;
      }
    }
    .page {
      background-color: #fff;
      min-height: 40px;
      padding: 20px 40px;
      margin-top: 0;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
  }
}

.page {
  /* TODO Write page styles, possibly themed */
  &.page-login {
    .login-box {
      .btn {
        font-size: 10pt;
        opacity: 1;
        transition: opacity 250ms;
        vertical-align: middle;
        &:hover {
          opacity: 0.9;
        }
        span.fa, img {
          display: inline-block;
          vertical-align: middle;
          height: 12pt;
          font-size: 12pt;
          padding-right: 5px;
        }
      }
    }
  }
  &.page-edit {
    textarea {
      width: 100%;
      resize: none;
      border: 1px #eee solid;
      border-radius: 10px;
      box-shadow: 0 0 2px 1px rgba(0,0,0,0.05) inset;
      background-color: #fcfcfc;
      padding: 10px;
    }
  }

  .page-opts {
    a {
      padding: 5px;
      font-size: 10pt;
    }
  }
  .page-filelist {
    width: 100%;
    list-style-image: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    a {
      color: $color-anchor-1;
      font-size: 13pt;
      flex: none 1 auto;
      vertical-align: middle;
      i {
        font-size: 10pt;
        display: inline-block;
        width: 15px;
      }
    }
  }

  p { color: #777; padding-left: 10px; }

  h1 {
    font-size: 22pt;
    padding-bottom: 5px;
    border-bottom: 1px (#fff - #111) solid;
  }
  h2 { font-size: 18pt; }
  h3 { font-size: 14pt; opacity: 0.8; }
  h4 { font-size: 14pt; opacity: 0.6; }
  h5 { font-size: 10pt; opacity: 0.8; }
  h6 { font-size: 10pt; opacity: 0.6; }

  code {
    color: #888;
    background-color: #fff - #111;
    border-radius: 0;
    padding: 1px 4px;
  }

  pre code { background-color: transparent; color: #555; }

  .categories {
    a { padding-left: 6px; }
  }
}

@media screen and (min-width: 992px) {
  .page-header {
    padding: 50px 0;
    .container {
      h1 { font-size: 40pt; }
      h2 { font-size: 20pt; }
    }
  }
  .content {
    .container {
      .navigation {
        background-color: transparent;
        font-size: 10pt;
        h1, h2, h3 { font-size: inherit; margin: 0; padding: 5px; }
        h2, h3 { font-weight: normal; padding-left: 5px; }
        h3 { padding-left: 20px; font-size: 80%; }
        h1 { font-size: 130%; }
      }
      .page {
        border-radius: 0 0 5px 5px;
        padding: 20px 80px;
      }
    }
  }
  .page {

    h1 {

    }

  }
}

@media screen and (min-width: 1400px) {
  .container {
    width: 1400px;
  }
}
