@import '../page';

.content-page {
  text-align: center;
  p { font-size: 14pt; }
  pre {
    border: 1px rgba($color-black, .05) solid;
    border-radius: 0;
    color: tint($color-gray, 20%);
    text-align: left;
  }
}
