//
// Skribki layout styles
//

@import 'colors';

// layout partials
@import 'header';
@import 'navbar';
@import 'footer';
@import 'objects';

// layouts
@import 'layout-sidebar';

// clean the page up a bit
* { box-sizing: border-box; }
body {
  background-color: $color-lightgray;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 50px;

  &,
  html { margin: 0; }
}

// generic styles
@media screen and (min-width: 1400px) {
  .container { width: 1300px; }
}
