@import 'colors';

.content-page {
  // paragraph
  p {
    color: $color-gray;
    padding: 0 10px;
    text-indent: 10px;
  }

  code {
    background-color: $color-white;
    border-radius: 2px;
    color: tint($color-gray, 40%);
    padding: 2px 5px;
  }


  // headers
  h1 {
    border-bottom: 1px rgba($color-black, .1) solid;
    color: $color-gray;
    font-family: 'Raleway Black', sans-serif;
    font-size: 30pt;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Raleway, sans-serif;
  }

  h2 {
    color: tint($color-gray, 20%);
    font-size: 20pt;
    font-weight: bold;
  }

  h3 {
    color: tint($color-gray, 20%);
    font-size: 16pt;
    font-weight: bold;
  }

  h4 {
    color: tint($color-gray, 20%);
    font-size: 14pt;
  }

  h5 {
    color: tint($color-gray, 40%);
    font-size: 13pt;
    font-weight: bold;
  }

  h6 {
    color: tint($color-gray, 40%);
    font-size: 12pt;
  }
}
