.jumbotron-header {
  background-color: $color-base-1;
  color: $color-dark-fg;
  margin: 0;
  padding: 60px 10%;

  h1 {
    font-family: 'Raleway Black', sans-serif;
    font-weight: bold;
    margin: 0;
    margin-bottom: 10px;
  }

  h2 {
    color: $color-base-fg;
    font-size: 21px;
    font-weight: lighter;
    margin: 0;
  }
}

.banner {
  background-color: $color-banner-bg;
  border-bottom: 1px shade($color-banner-bg, 10%) solid;
  color: $color-banner-fg;
  padding: 15px 20px;

  p {
    display: inline;
  }

  .banner-dash {
    display: inline-block;
    opacity: .5;
    padding: 0 5px;
  }

  a {
    color: $color-base-1;
    font-weight: bold;
  }
}
