#body {
  background-color: #fff - #111;
  padding-bottom: 50px;
  min-height: 50vh;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
}

#content {
  background-color: #fff;
  min-height: 40px;
  padding: 20px 40px;
  margin-top: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0 0 5px 5px
}
