// navbar
.navbar-brand {
  font-size: 16px;
  vertical-align: middle;

  > img {
    display: inline-block;
    height: 100%;
    padding-right: 3px;
    vertical-align: middle;
  }

  > span {
    display: inline-block;
    vertical-align: middle;
  }
}

.navbar-default {
  background-color: $color-base-1;
  border-color: $color-base-2;
  box-shadow: 0 1px 0 rgba($color-white, .07);
  min-height: 60px;

  .navbar-brand {
    color: $color-white;
    font-size: 20px;
    font-weight: bold;
    height: 60px;
    opacity: .7;
    padding: 18px;
    transition: opacity 250ms;

    &:hover,
    &:focus {
      color: $color-white;
      opacity: .9;
    }
  }

  .navbar-nav > li {
    // scss-lint:disable SelectorDepth, NestingDepth
    vertical-align: middle;

    > a {
      color: $color-base-fg;
      font-size: 14px;
      padding: 20px;
      transition: color 250ms;

      &:hover,
      &:focus {
        color: $color-dark-fg;
      }
    }
  }
}
