$color-btn-success: mix($color-green1, $color-base-1, 40%);

// paragraph styles
.monospace { font-family: monospace; }

// buttons
.btn {
  border: 0 $color-white solid;
  border-bottom-width: 3px;
  border-radius: 0;
  color: rgba($color-white, .9);
  display: inline-block;
  font-size: 11pt;
  margin: 0 5px;
  outline: none;
  padding: 5px 15px;
  text-indent: 0;
  transition: 250ms;
  vertical-align: middle;

  &:hover,
  &:focus {
    color: $color-light-bg;
    outline: none;
  }

  &:active {
    box-shadow: 0 3px 3px 0 rgba($color-black, .3) inset;
    outline: none;
    padding-bottom: 2px;
    padding-top: 8px;
  }

  &.btn-lg {
    font-size: 13pt;
    padding: 10px 20px;
  }

  &.btn-primary {
    background-color: $color-base-1;
    border-color: shade($color-base-1, 10%);

    &:hover,
    &:focus {
      background-color: tint($color-base-1, 10%);
      border-color: $color-base-1;
    }

    &:active {
      background-color: shade($color-base-1, 15%);
      border-color: shade($color-base-1, 15%);
    }
  }

  &.btn-success {
    background-color: $color-btn-success;
    border-color: shade($color-btn-success, 10%);

    &:hover,
    &:focus {
      background-color: tint($color-btn-success, 10%);
      border-color: $color-btn-success;
    }

    &:active {
      background-color: shade($color-btn-success, 15%);
      border-color: shade($color-btn-success, 15%);
    }
  }
}

// form elements
[type=text] {
  background-color: rgba($color-black, .03);
  border: 1px rgba($color-black, .07) solid;
  color: $color-gray;
  display: inline-block;
  min-width: 30%;
  padding: 5px 15px;
  transition: 250ms;
  vertical-align: middle;

  &:focus {
    border-color: rgba($color-base-1, .3);
    outline: none;
  }
}

// scss-lint:disable SelectorDepth, NestingDepth
[type=checkbox] {
  left: 0;
  position: fixed;

  + label {
    color: $color-white2;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    margin-bottom: 0;
    transition: 300ms;
    user-select: none;
    vertical-align: middle;

    .box {
      background-color: $color-white2;
      border-radius: 5px;
      display: inline-block;
      height: 10px;
      margin: 0 10px;
      position: relative;
      transition: 300ms;
      vertical-align: middle;
      width: 25px;

      &::before {
        background-color: $color-gray2;
        border-radius: 50%;
        content: '';
        display: block;
        height: 20px;
        left: -5px;
        position: relative;
        top: -5px;
        transition: 300ms;
        width: 20px;
      }
    }
  }

  &:checked + label {
    color: $color-gray2;

    .box {
      background-color: tint($color-base-2, 40%);

      &::before {
        background-color: $color-base-1;
        left: 10px;
      }
    }
  }

  &:disabled {
    opacity: .5;
  }
}

textarea {
  background-color: rgba($color-black, .03);
  border: 1px rgba($color-black, .07) solid;
  color: $color-gray;
  display: block;
  margin: 10px 0;
  padding: 10px;
  transition: 250ms;
  width: 100%;

  &:focus {
    border-color: rgba($color-base-1, .3);
    outline: none;
  }
}
