.banner {
  background-color: tint($color-banner-bg, 5%);
  border-bottom: 1px shade($color-banner-bg, 10%) solid;
  color: $color-banner-fg;

  a {
    color: $color-base-1;
    transition: color 250ms;

    &:hover,
    &:focus {
      color: $color-base-2;
      text-decoration: none;
    }
  }
}
