// layout
$color-light-fg: #333;
$color-light-bg: #f5f5f5;
$color-dark-fg: $color-light-bg;
$color-dark-bg: $color-light-fg;

// banner
$color-banner-bg: #34495e;
$color-banner-fg: #bdc3c7;

// base
$color-base-1: #0ac;
$color-base-2: shade($color-base-1, 10%);
$color-base-fg: #d5e1e4;
