.jumbotron.jumbotron-header {
  background: url('/img/background.png') tint($color-header, 5%);
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: $color-dark-fg;
  margin: 0;
  margin-top: -60px;
  padding: 60px 80px;
  padding-top: 100px;

  .container {
    padding: 0 50px;
  }

  h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 70px;
    font-style: italic;
    font-weight: 800;
    margin: 0;
  }

  h2 {
    color: $color-white;
    font-size: 21px;
    font-weight: normal;
    margin: 0;
    opacity: .9;
  }
}
