.navbar-brand {
  padding: 20px 15px;

  > img {
    padding-right: 6px;
  }
}

.navbar-default {
  background-color: rgba($color-black, .05);
  border: 0;
  position: absolute;

  .navbar-brand {
    color: $color-white;
    font-weight: bold;
    opacity: .7;
    transition: opacity 250ms;

    &:hover,
    &:focus {
      color: $color-white;
      opacity: .9;
    }
  }

  // scss-lint:disable SelectorDepth
  .navbar-nav > li > a {
    color: $color-white;
    opacity: .7;
    transition: opacity 400ms, background-color 400ms;

    &:hover,
    &:focus {
      background-color: rgba($color-black, .1);
      color: $color-white;
      opacity: .9;
    }
  }
}

@media (min-width: 768px) {
  .navbar-brand {
    font-size: 16px;
  }

  .navbar-default {
    min-height: 60px;

    // scss-lint:disable SelectorDepth
    .navbar-nav > li > a {
      padding: 20px;
    }
  }
}
