.section-sidebar {
  padding: 10px;

  a {
    border-right: 0 $color-base-1 solid;
    color: $color-base-1;
    display: block;
    text-decoration: none;
    transition: 250ms;

    &:hover,
    &:focus {
      opacity: .6;
      padding-left: 5px;
    }

    &:active,
    &.active {
      border-width: 1px;
    }
  }

  hr {
    border-color: $color-base-1;
    margin: 20px auto;
    opacity: .2;
    width: 80%;
  }
}
