@import 'includes/colors';
@import 'includes/functions';

@import 'colors';

.content-page {
  // paragraph
  p {
    color: $color-gray;
    font-size: 10pt;
    line-height: 1.5em;
    padding: 0 10px;
  }

  :not(pre) > code {
    background-color: tint($color-white1, 50%);
    border-radius: 2px;
    color: tint($color-gray, 40%);
    padding: 2px 5px;
  }


  // headers
  h1 {
    border-bottom: 1px rgba($color-black, .1) solid;
    color: $color-gray;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30pt;
    font-weight: 700;
  }

  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: Ubuntu, sans-serif;
  }

  h2 {
    color: tint($color-gray, 20%);
    font-size: 20pt;
    font-weight: 500;
  }

  h3 {
    color: tint($color-gray, 20%);
    font-size: 16pt;
    font-weight: 500;
  }

  h4 {
    color: tint($color-gray, 20%);
    font-size: 14pt;
  }

  h5 {
    color: tint($color-gray, 40%);
    font-size: 13pt;
    font-weight: 500;
  }

  h6 {
    color: tint($color-gray, 40%);
    font-size: 12pt;
  }

  // block
  pre {
    background-color: tint($color-white1, 20%);
    border: 0;
    border-radius: 0;
    color: tint($color-gray, 20%);
  }
}
